[2015-04-04 00:41] AnthonyMDev opened #1 "Add 'getObject' without saving to file."
There should be a method to get an object and just return it in the response's `responseObject` parameter.

This will likely not use the `download` request, and instead be a normal `GET` request. This means it won't allow use of progress blocks.

It possibly could still use progress blocks if I manually delete the temporary file and set the `responseObject`. I'm not sure if this is possible yet.

[2015-04-04 00:54] AnthonyMDev opened #2 "Remove 'Alamofire.Manager' subclass"
I'm not sure if this needs to be, or should be, a subclass of 'Alamofire.Manager'.
There are a few other options here.

1) Create a separate serializer for S3 requests with no dependency on 'Alamofire' and just allow that to be used.

2) Have a 'requestManager' property on the instance that is used to make all requests. If it is not set, the default manager is used.

I think there may be better op

[2015-04-06 20:50] AnthonyMDev commented on #2
This has been completed.

[2015-04-06 20:50] #2 closed

[2015-04-06 22:19] AnthonyMDev commented on #1
This is implemented. Version `0.2.0` is released

[2015-04-06 22:19] #1 closed

[2015-06-08 10:22] freak4pc opened #3 "ACL for file uploads"
How would I go about setting the uploaded file's ACL to Public ?

Thanks.

[2015-06-09 17:03] AnthonyMDev commented on #3
@freak4pc I haven't implemented any APIs for editing a file's permissions or other information yet. It might be possible to set it with a parameter, let me look at the APIs and get back to you. If not, I'll try adding some new APIs for this today.

Thanks for the question!

[2015-06-09 20:13] AnthonyMDev commented on #3
I've started work on developing this. I hope to have it fully implemented by the end of the weekend.

@freak4pc Do you need to use this by a specific date?

[2015-06-09 23:47] freak4pc commented on #3
Hey, Thanks for answering @AnthonyMDev
I actually overridden my issue by setting a public Bucket Policy so I'm good for now. No worry :)

In a different note, did you think about making the manager a background upload manager ?
![e3b5e94f-0284-4824-ae4d-c3a96f286fa6](https://cloud.githubusercontent.com/assets/605076/8072166/09d5a510-0f1b-11e5-9867-91537270fabd.jpg)

[2015-06-10 06:24] AnthonyMDev commented on #3
@freak4pc
Okay, that should work. I'm still going to go ahead and finish this feature set up.

I haven't looked into that yet. I'll look at the benefits of it. I think it would be best to allow the user to set the configuration, so maybe I'll make that happen.

Are you actually using this repository at the moment? I haven't gotten any confirmation that anyone besides myself is even using this righ

[2015-06-10 07:03] AnthonyMDev commented on #3
This feature should be working on the `acl` branch with `PUT` requests currently. I'm going to be looking into implementing ACL on other request methods, and creating methods that allow you to get and edit the ACL of an object and bucket at some point this week.

I'll also be adding more documentation to how the ACL system works and adding it to the `README`.

[2015-06-10 08:03] freak4pc commented on #3
Yeah @AnthonyMDev , I'm absolutely using it. Really great lib and an awesome time saver for me.

I agree that being able to configure the client to perform in a background session would be very beneficial.

[2015-06-10 17:19] AnthonyMDev commented on #3
That's great to hear!

Thanks for the suggestions. I'll look into the rest of this soon.

[2015-06-11 09:52] AnthonyMDev commented on #3
All functionality has been implemented, unit tested, and documented. I'll be updating the `README` with new examples tomorrow and pushing out a new version of the CocoaPod.

[2015-06-11 09:53] freak4pc commented on #3
Awesome :) Will check it out.

[2015-06-12 00:17] #3 closed

[2015-06-12 00:27] AnthonyMDev opened #5 "Parse Amazon S3 Responses"
We should implement response handling to parse the Amazon S3 response.

An extension on `Alamofire.Request` that adds a `responseAmazonS3()` function seems like a good way of doing this.

[2015-06-12 00:41] AnthonyMDev commented on #3
@freak4pc In response to your suggestion for using a background upload manager configuration:
Right now, the request manager is being set, by default, to the `Alamofire.sharedInstance`. The `requestManager` variable is public though, and can be set to another instance of `Alamofire.Manager`.

To use a background upload manager, you can just create a new `Alamofire.Manager` with the desired configu

[2015-06-12 00:42] AnthonyMDev commented on #3
Also, this feature has been completed and version `0.5.0` has been released to include ACL APIs

[2015-06-29 13:14] joehelton opened #6 "Feature Request: List Directory Contents"
Hey Anthony. Thanks for the great library.
Is it possible to use AmazonS3RequestManager to get a list of the contents of an S3 bucket or directory?

[2015-06-29 17:02] AnthonyMDev commented on #6
@joehelton Thank you!
There is! There is not currently a specific method in the library for this request, but you can use `amazonURLRequest(method: Alamofire.Method, path: String, subresource: String? = nil, acl: AmazonS3ACL? = nil) -> NSURLRequest` to serialize an `NSURLRequest` for the Amazon S3 service and then just pass that request through to `Alamofire.request(request: NSURLRequest)`.
Using

[2015-06-29 17:03] AnthonyMDev commented on #6
I'll also be looking into implementing a designated method to do this once #5 is completed.

[2015-06-29 17:05] joehelton commented on #6
Great! Thanks so much for the help man.

[2015-06-29 17:50] AnthonyMDev commented on #6
No problem! If you have any other questions or suggestions, please let me know!

Sent from my iPhone

[2015-06-30 19:04] joehelton commented on #6
Hey Anthony. Thanks again for the help.
I am getting a "SignatureDoesNotMatch" error when I try to do this. Would you mind posting a code sample I could use for comparison? Thanks.

[2015-06-30 20:25] AnthonyMDev commented on #6
@joehelton Make sure that you have set the `bucket`, `region`, `access key`, and `secret` correctly on your `AmazonS3RequestManager` instance before calling this method. If you continue to have issues, please open another issue for this problem with more details of your implementation and I'll take a look.

Thanks!

[2015-08-19 20:05] frankrue opened #8 "Make Compatible with OSX"
After cursory review, it seems like it wouldn't take much to make this OSX compatible, like AlamoFire is already. Is this a possibility?

[2015-08-20 17:23] AnthonyMDev commented on #8
@frankrue, this seems like a great idea. I'm actually very unfamiliar with OS X development myself, but if need be, I could look into it. I see that you've made a fork and started work on this. I'd definitely be willing to look at a PR when you're finished.

My primary concern: right now, you need `MobileCoreServices` to get the MIME type. If there is an OS X compatible library to do this, then we

[2015-08-20 20:17] frankrue commented on #8
I'll be honest, here: I don't know a tremendous amount about what I'm doing with framework builds. I was able to get it working locally, but likely only because I'm using the putObject() function ONLY right now. I'm about to implement the getObject() function, and, at that point, I imagine, I will run into the MobileCoreServices problem. I'm sure there's an adequate replacement in OSX. I'll keep y

[2015-08-20 20:26] AnthonyMDev commented on #8
@frankrue Thanks for the updates. If you run into a problem you can't solve on your own, let me know and I'll look into it as well. This library definitely should support OS X ASAP.

[2015-09-10 19:23] freak4pc opened #9 "Swift 2.0 and Alamofire 2.0"
Is there any reason the Swift 2 version is targeting Alamofire 1.3 instead of 2.0 ?

[2015-09-10 20:44] AnthonyMDev commented on #9
The `swift-2.0` version was created before Alamofire `2.0` was released. The library needs to be migrated over to use Alamofire `2.0`. I will likely do this in the next few days.

[2015-09-10 23:51] AnthonyMDev commented on #9
This has been completed. the `swift-2.0` branch now uses `Alamofire 2.0`

[2015-09-10 23:51] #9 closed

[2015-10-06 20:09] AnthonyMDev commented on #5
`0.7.0-beta.2` includes a simple data response serializer that parses Amazon S3 Errors.

I'd like to add serializers for custom ACL responses and custom serializers for common data types that parse AmazonS3Errors.

[2015-10-07 00:23] AnthonyMDev commented on #8
@frankrue It looks like on your fork, you were able to remove `MobileCoreServices`. Is your branch working properly for OS X? If so I'll probably make a pull sometime soon.

[2015-10-07 04:37] frankrue commented on #8
I am now using this actively without any problems. If you want to pull, let's go for it. Let me know what I need to do.

[2015-10-07 07:35] AnthonyMDev commented on #8
Thanks for the quick reply! That's all I need from you. I'll check out the code base and make a pull. I appreciate the work you did!

[2015-10-17 21:05] Vortec4800 opened #10 "Build error in latest version"
I'm getting this build error:

AmazonS3RequestManager/AmazonS3RequestManager.h:29:9: Include of non-modular header inside framework module 'AmazonS3RequestManager.AmazonS3RequestManager'

when compiling the latest version installed using Cocoapods. This is using Xcode 7.1 beta 3 targeting iOS 9.1, in case it's an Xcode change.

It seems to not like the
#import <AmazonS3RequestManager/AmazonS3Signa

[2015-10-17 21:14] Vortec4800 commented on #10
So quick update, I changed the line in the `AmazonS3RequestManager.h` file from

#import <AmazonS3RequestManager/AmazonS3SignatureHelpers.h>

to

#import "AmazonS3SignatureHelpers.h"

which fixed the problem and everything built successfully. I'm unsure if this is a "real" fix or if this is just getting everything to work, but not the root cause. Either way it's a fix for the time being.

[2015-10-19 16:34] AnthonyMDev commented on #10
@Vortec4800 Thank you for bringing this to my attention, and for the possible solution. I will look into this today and see if I can re-create. I haven't experienced this problem myself yet.

`AmazonS3SignatureHelpers` can't really be converted to swift easily, since it uses some C libraries that could not be bridged into the swift runtime.

[2015-10-19 18:06] AnthonyMDev commented on #10
@Vortec4800 This has been fixed using your provided solution in version 0.9.0. Thank you!

Please let me know if this issue still exists for you in 0.9.0.

[2015-10-19 18:06] #10 closed

[2015-11-06 13:19] petraalm opened #12 "Spaces (or other special chars) in a filename"
I've noticed that uploading files containing spaces or other special characters (ie. foreign language characters) in the name always fails with 403. Anybody else facing the same issue?
`URLByAppendingPathComponent` in `amazonURLRequest` method returns percent-encoded url so what could be the problem then?

[2015-11-09 19:16] AnthonyMDev commented on #12
Hmm that's odd. Just confirming, you are talking about the `destinationPath` for the upload having spaces or special characters in it.

It may just be that Amazon S3 does not support those characters in their file paths. If that is the case, the only thing I can do about it is to add a note on it to the documentation. I'll look into this and see if this is an Amazon thing or a problem with the lib

[2015-11-25 00:10] Jon-GHI opened #13 ""NoSuchKey" error on downloading a file"
Anthony, First of all, thanks for the very useful code you've submitted. I've written a small app (iOS 9.1, Xcode 7.1.1) to test upload/download/delete functionality. Uploading files to an S3 bucket and deleting them from the S3 bucket works fine.

However, I get an error "NoSuchKey" every time I try to download a file using ".downloadObject". The credentials are fine, because I can upload and del

[2015-11-25 16:27] Jon-GHI commented on #13
I found the problem. I had misspelled the filename in the ".downloadObject" request! I apologize the false report. The code seems to work just fine.

[2015-11-25 16:27] #13 closed

[2015-11-30 20:03] AnthonyMDev commented on #13
Thanks for following up @Jon-GHI. Glad to hear everything is working for you!

[2015-11-30 20:07] AnthonyMDev commented on #12
What special characters are you using specifically? Some special characters are supported, but not all it seems.

Object names:

Bucket names:

http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html

[2015-12-01 14:12] petraalm commented on #12
Foreign language characters e.g. šđčćž. I was able to make a workaround by using id instead of a filename in the destination path. However, I still dont understand why the problem happens. In the guidelines you posted it says using any UTF-8 character should be ok, which I believe is true because if I do the uploading to s3 on the server side (using [paperclip](https://github.com/thoughtbot/paperc

[2016-01-19 14:14] ghost commented on #8
+1

[2016-01-20 00:15] AnthonyMDev commented on #8
Version `0.10.0` has been released which includes OS X support!

[2016-01-20 00:15] #8 closed

[2016-01-22 00:35] #12 closed

[2016-03-01 23:16] tbleckert opened #17 "Doesn't work in new regions that require AWS4-HMAC-SHA256"
I have my bucket in Frankfurt (EUCentral1) and I receive this error:

Is there anything I can do to fix this? Moving the bucket is not an option.

Thanks!

[2016-03-02 10:49] sebromero commented on #17
@tbleckert We have to implement V4 signatures. For this to work the Authentication header must be adjusted. If you want to give it a shot AmazonS3SignatureHelpers.m would be the starting point. I think it's not too hard to do. Have a look at the implementation of the official iOS SDK: https://github.com/aws/aws-sdk-ios/blob/master/AWSCore/Authentication/AWSSignature.m

[2016-03-02 18:33] AnthonyMDev commented on #17
Thanks for making me aware of this. I'll try looking into this sometime soon, but I'm probably not going to have time this week. If anyone wants to take a crack at it, I'd be happy to take a PR.

[2016-03-02 21:23] sebromero commented on #6
@joehelton I think it's a problem with the HTTP headers. I'm currently looking into this.

[2016-03-02 22:36] AnthonyMDev commented on #6
@sbhklr I wasn't aware that this was an actual bug in the library, rather than a configuration issue. If you are experiencing an actual bug, would you please open a new issue for it? This issue is for an unrelated upcoming feature. Thanks for looking into this!

[2016-03-03 00:52] AnthonyMDev commented on #17
I've started work on this, but it's quite a big project. This could take a while.

You can check out the `AWS_signature_V4` branch if you want to contribute.

AWS documentation for the signature calculations are here:
http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-header-based-auth.html

[2016-03-03 09:14] sebromero commented on #17
@AnthonyMDev Cool, thx. I'll have a look at it.

[2016-03-08 19:58] AnthonyMDev commented on #17
@tbleckert Just an update for you. I have been working on this. I'm almost done getting the V4 Signature set up. I'll integrate it as soon as I have some more free time and we will be good to go!

[2016-03-08 19:59] sebromero commented on #17
@AnthonyMDev Cool stuff! Thx mate.

[2016-03-08 21:07] sbhklr opened #18 "Listing buckets not possible due to leading slash"
When trying to list a bucket using `manager.amazonURLRequest(.GET, path : "")` the request fails because the S3 REST API doesn't accept a leading slash.

[2016-03-08 22:08] sbhklr opened #20 "Allow for custom endpoints"
I use a self hosted LibreS3 installation which provides S3 API REST compatibility. However the library currently doesn't allow for custom endpoints since the region parameter is an immutable enum.
I suggest that we either change the region to be a plain string and use something like `.USStandard.rawValue` when calling the initialiser or we introduce a `host` property that has priority over the `re

[2016-03-08 22:21] sebromero commented on #5
I'd like to work on this since I desperately need this functionality. Which branch should I use as a starting point? And one concern: An extension on the Request class as you did seems a plausible way to achieve that. However, If we do that, we will have to call the dedicated serialiser method on the completed request depending on the return type. Like `request.responseS3ListData(…)`, `request.res

[2016-03-08 22:26] AnthonyMDev commented on #20
@sbhklr That's a great point. Due to some changes with V4Signatures (#17), we actually need to have multiple values that are being determined by the `region`. The `endpoint` and the `name` of the region are both used now. This complicates things just a little. You can see the [feature/AWS_signature_v4](https://github.com/AnthonyMDev/AmazonS3RequestManager/tree/feature/AWS_signature_v4) branch to s

[2016-03-08 22:33] AnthonyMDev commented on #5
@sbhklr I see what you are going for, however I think that we should still with the custom serializer methods. There may be instances where the user does want to get the raw response data, or serialize it in a different way. By overriding `response()`, we take away that capability.

This is the method that `Alamofire` recommends and supports. Subclassing `Request` may lead to incompatibility issue

[2016-03-08 22:38] sebromero commented on #20
I see. I'm thinking about an elegant solution. Looks like enums aren't really suited for injecting custom values.

[2016-03-08 22:52] sebromero commented on #5
@AnthonyMDev I see your point but instead of overriding `response()` we could still create subclasses and override a custom property like `s3response`. This should be safe. The problem there is that it's probably hard to find a function signature for `s3response` that suits all use cases. For example `listBucket()` should return a list of filenames while `getObject()` should return data. The advan

[2016-03-08 22:53] AnthonyMDev commented on #20
Not true, you can use associated values on an enum case. The most elegant way to do this would probably be to create a new region enum case `Custom` with associated values for the endpoint and name.

[2016-03-08 23:00] AnthonyMDev commented on #5
@sbhklr I do see why that makes things more elegant.

Here's another thing to consider, when using the `AmazonS3RequestSerializer` to create `NSURLRequest`s but not using the `AmazonS3RequestManager`, you can send these requests to a regular `Alamofire.Manager` (or any other networking library for that matter). Using the default `Alamofire.Manager` won't return our `Request` subclass, but I'd stil

[2016-03-08 23:02] sebromero commented on #20
Alright, I didn't know. That's indeed a pretty elegant solution.

[2016-03-08 23:03] AnthonyMDev opened #21 "Refactor AmazonS3RequestSerializer into separate framework"
The `AmazonS3RequestSerializer

[2016-03-08 23:05] #18 closed

[2016-03-08 23:09] sebromero commented on #5
Sounds reasonable. I'll give that a try tomorrow.

[2016-03-08 23:17] AnthonyMDev commented on #5
@sbhklr Thanks for taking this on!

[2016-03-09 07:28] tbleckert commented on #17
@AnthonyMDev Great work! Thanks!

[2016-03-09 15:20] cnoon commented on #5
Hey @AnthonyMDev, definitely don't subclass. You can't anyways b/c the init methods on a `Request` are internal. You wouldn't be able to make a subclass instance with Alamofire even if you wanted to unless you made some much bigger changes to Alamofire itself. Instead, use the extension approach and add a custom serializer.

In order to mitigate the need for multiple serializers, you could always

[2016-03-09 18:58] AnthonyMDev commented on #5
@cnoon Thanks for your comments. I didn't even consider the initialization of the `Request`.

@sbhklr Looks like we have to go with custom serializers.

[2016-03-09 22:26] sebromero commented on #5
@cnoon @AnthonyMDev I don't quite see why this shouldn't work. Subclassing `Request` works for me. At least it compiles so far. And the instances of these subclasses don't have to be created by Alamofire but only by `AmazonS3RequestManager`. They would use the according serializer that still can be implemented as an extension of `Request`. The whole purpose is to provide the user of `AmazonS3Reque

[2016-03-09 23:45] AnthonyMDev commented on #5
@sbhklr I'll check out whatever you come up with. Either way, I definitely think that we need the custom serializers. We know we can use those either way.

If you can get the `Request` subclasses to work, I'll check it out. I'm not sure how you are initializing the subclasses though without access to the initializers. I'm still concerned about the unintended consequences of subclassing `Request`.

[2016-03-09 23:48] AnthonyMDev commented on #17
@tbleckert Okay, I've got a working beta of the V4 signature up and running. Can you try using the `/feature/AWS_signature_v4` branch and see if that works for you please?

I'm fairly certain that this should work for `GET` requests just fine now. There is some wording in the AWS documentation that makes me think that we may have to sign the requests a completely different way for `POST` requests.

[2016-03-10 10:48] tmahoni opened #22 "Use of unresolved identifier 'AmazonS3RequestManager'"
Hello,

I'm having trouble to build a new project, that contains this pod file content:

`source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '8.0'
use_frameworks!

pod 'AmazonS3RequestManager', '~> 0.10'`

When I try to insert your piece of code:

`func initAWSManager() {
        let amazonS3Manager = AmazonS3RequestManager(bucket: myAmazonS3Bucket,
            region: .USStandard,

[2016-03-10 11:18] tmahoni commented on #22
Got it...
I needed to add AmazonS3RequestManager.framework to "Linked Frameworks and Libraries"
in Target > General and to add an "import AmazonS3RequestManager" statement.

Thanks.

[2016-03-10 11:18] #22 closed

[2016-03-17 20:27] WadeSellers commented on #17
Really stoked about this. I've been getting those 9999 codes as well.

[2016-03-17 20:29] AnthonyMDev commented on #17
@WadeSellers Glad to hear that other people want this as well. I haven't had time to do ample testing of this to feel comfortable pushing it to master yet. As I said above, I'm not sure if `POST` requests are going to work yet specifically. If you are looking for this to be pushed to a new version and have some time, I'd really appreciate getting some outside sources to test and confirm that every

[2016-03-20 04:20] sbhklr opened #24 "Allow for reading/writing user defined meta data"
S3 allows custom meta data to be assigned to files. AmazonS3RequestManager currently doesn't allow to set or read this meta data.
See: http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html

[2016-03-21 02:23] sbhklr opened #26 "Allow for copying objects"
S3 allows files to be copied from one location to another. AmazonS3RequestManager currently doesn't support that.
See: http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html

[2016-03-21 03:09] sebromero commented on #20
Hmm, looks like we cannot mix enum cases with raw values and associated values.

[2016-03-21 19:11] AnthonyMDev commented on #26
Thanks for making a PR for this! I'll get this pulled in ASAP. These changes are going to be dependent upon the refactor being done to #23, so as soon as that is finished, this will be pulled in.

[2016-03-23 01:35] AnthonyMDev opened #28 "Add parameter options to listBucketObjects()"
We should have parameters to set all of the parameters from the REST API for the `listBucketObjects()` request method.

- [ ] Add parameters to function
- [ ] Add example for `listBucketObjects()' to `README`

For parameters see: http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html

[2016-03-23 02:51] sebromero commented on #28
I agree, using `subresouce` isn't the right way to do it. I didn't really understand the notion of subresources until now. We should add the missing parameter doc to `amazonURLRequest` to make that clear.

[2016-03-23 03:26] #24 closed

[2016-03-23 03:27] AnthonyMDev commented on #20
Ah, that's right. Didn't think about that. I should be able to fix this by removing the raw values from the enum. We don't really need them. I'll get that done tomorrow!

[2016-03-23 03:36] AnthonyMDev commented on #28
Didn't realize that was missing! Documentation has been added for that parameter. Thanks.

[2016-03-23 06:51] sbhklr opened #30 "Spaces in file names cause problems during upload"
When uploading a file to a target path that contains spaces, I receive the following error:
[code]
Example file name: `workingcopies/Rotation 2.Stomach.Peter Latch.crumble`
According to http://stackoverflow.com/questions/7116450/what-are-valid-s3-key-names-that-can-be-accessed-via-the-s3-rest-api this kind of file names need some special treatment.
I tried to upload to my LibreS3 installation. I'm

[2016-03-30 22:16] AnthonyMDev commented on #20
Okay, I've removed the raw values from the enum case on `develop`. Next step is to add the custom region case.

[2016-03-30 22:27] AnthonyMDev commented on #20
This has been implemented in version `0.12.0`

[2016-03-30 22:27] #20 closed

[2016-04-12 17:21] #30 closed

[2016-06-11 11:53] arielzadi commented on #17
looks like the v4 signing dosent work for me when i try to upload an object..
any way to find out why?

[2016-06-15 17:01] AnthonyMDev commented on #17
The `POST` requests may take a separate signature type. I'm not sure when I'll have time to look into this, but it's on my list. If someone else wants to make a PR before me, feel free.

[2016-07-11 15:45] adamcjohnson opened #32 "Swift 3 Support"

[2016-07-11 18:01] AnthonyMDev commented on #32
@adamcjohnson Absolutely. I'll start working on Swift 3 support closer to the public release of iOS 10. If you would like to make a PR for Swift 3 support right now though, I would definitely accept it on a new branch!

[2016-07-19 01:32] romk1n opened #33 "xcode 8 beta 2 fails to compile"
[code]

[2016-07-19 20:07] AnthonyMDev commented on #33
Swift 3 support has not yet been implemented. #32 covers this issue. It will be implemented before Swift 3 GM is released. If you would like to make a PR to fix these issues, please feel free to do so.

[2016-07-19 20:07] #33 closed

[2016-07-20 00:55] romk1n commented on #33
Well. The problem is in swift 2.3
On Tue, Jul 19, 2016 at 13:07 Anthony Miller notifications@github.com
wrote:

[2016-07-20 00:58] AnthonyMDev commented on #33
@romk1n Are you sure? Swift 2.3 should compile that code just fine. Xcode 8 by default uses Swift 3, so unless you have downloaded the Swift 2.3 toolchain and manually set Xcode to use it, you will be using Swift 3.

Please confirm that you are using Swift 2.3 and I'll look into this.

[2016-07-20 01:21] romk1n commented on #33
@AnthonyMDev i have modified all the pods to set legacy swift and it didn't compile. i will double check again in a few days and will report again. Thanks.

[2016-07-20 01:26] AnthonyMDev commented on #33
@romk1n I'm not exactly sure what you mean about setting the pods to use legacy swift.

The version of swift that it being compiled for is set by Xcode. I don't believe that setting any configuration in the pods will change that. If you can explain to me what you are doing a little more I can try to provide more support. Thanks.

[2016-08-16 08:41] sbhklr opened #36 "S3ObjectMetaData initializer crashes"
When fetching meta data for an S3 object the `S3ObjectMetaData` initializer crashes with a bad access exception. This is most likely due to the `representation` parameter that is of typ `Any`. This apparently leads to a memory problem because the representation object won't be retained until the end of the initializer.

[2016-08-16 18:53] AnthonyMDev commented on #36
@sbhklr I've pushed some changes to `develop` that I believe will fix this issue. I am trying a different approach to what you've done in #37.

There is now a `responseS3MetaData` serialization method that can be used.

I was unable to reproduce the crash. Could you confirm if this fixes the crash you are experiencing or not?

Thanks.

[2016-08-16 21:48] sebromero commented on #36
Your changes indeed fix it. A couple of notes:
- Shouldn't the initializer of `S3ObjectMetaData` return nil in case there are no headers available?
- Shouldn't the completion handler be of type `completionHandler: Response<S3ObjectMetaData, NSError> -> Void` because `Result.value` already returns an optional type. Otherwise I'd need to call it like `if let metaData = response.result.value?!.metaDa

[2016-08-16 21:55] AnthonyMDev commented on #36
Glad to hear this fixed the issue.

I'm sort of alright with the meta data being empty, but I can see your argument. I'll make that change as well. Hold tight. New version on the way.

I agree with your second point. I'm making a change right now to fix this. I'm also doing the same thing with the data serializer currently, so I'm going to fix that. This will cause minor API breaking changes.

[2016-08-16 21:57] sebromero commented on #36
👍 Alrighty. I'll update the PRs accordingly.

[2016-08-16 22:16] AnthonyMDev commented on #36
Pushing the new version right now. Thanks for your comments and your initial PR on this. If the new version does not fix the issue, please feel free to re-open this issue.

[2016-08-16 22:16] #36 closed

[2016-08-16 22:26] AnthonyMDev opened #39 "errorWithCode(_:failureReason:) is deprecated in Alamofire"
[code]

[2016-08-16 23:05] sebromero commented on #5
I think we can close this issue. The serializers work.

[2016-08-21 21:41] sbhklr opened #41 "Add operation to find bucket location"
The official SDK provides an operation to find out in which region a bucket resides. This comes in handy because this information is sometimes not available.

[2016-09-02 11:16] ljesus commented on #6
I've implemented this feature in my branch https://github.com/ljesus/AmazonS3RequestManager using the "prefix" parameter as stated in AWS' documentation (http://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGET.html)

[2016-09-02 11:19] sebromero commented on #6
Thx @ljesus , there is already a PR for this. See #38

[2016-09-02 17:52] #39 closed

[2016-09-02 17:53] #28 closed

[2016-09-02 17:54] #26 closed

[2016-09-02 17:59] #6 closed

[2016-09-02 18:00] #5 closed

[2016-09-07 23:21] romk1n opened #45 "Xcode 8 GM - Swift 2.3 fails to compile"
[code]

[2016-09-08 17:36] AnthonyMDev commented on #45
Isn't Xcode 8 GM using swift 3?

[2016-09-08 17:49] romk1n commented on #45
You can select either 2.3 or 3.0. Unfortunately we not ready to move to 3.0 yet.

[2016-09-08 18:20] AnthonyMDev commented on #45
Got it. I don't have a Swift 2.3 migration currently planned for this library, as we are going to migrate to 3.0 very shortly. If you would like to fork, fix these issues and make a PR for them on a swift 2.3 branch, please feel free to do so. I will happily take the PR.

[2016-09-08 18:20] #45 closed

[2016-09-15 01:36] romk1n opened #46 "please lower spec dependency to ios 8"
we still need to support ios 8 devices, there shouldn't be anything which prevents this running on ios 8 right ?

[2016-09-15 19:46] AnthonyMDev commented on #46
`Alamofire` no longer supports iOS 8. Since this library is an Alamofire serializer, it is dependent upon that unfortunately.

[2016-09-15 20:28] romk1n commented on #46
but can't you use alamofire 3.5 ?

[2016-09-15 20:38] AnthonyMDev commented on #46
Not for Swift 3. Alamofire 3.5 was pre Swift 3 from my understanding. If that assumption is wrong, then we can consider it.

Otherwise, if this is something you need, you're going to need to fork Alamofire 3.5 and convert it to Swift 3 then you can fork this repo and build a version that supports 8.0

[2016-09-23 08:06] AnthonyMDev commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-23 08:11] sbhklr commented on #20
@AnthonyMDev Dude, has your account been pwnd?

[2016-09-23 08:18] AnthonyMDev commented on #8
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-23 08:52] AnthonyMDev commented on #6
#outlook a {

padding: 0;
}
ReadMsgBody {

width: 100%;
}
ExternalClass {

width: 100%;
}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolation-m

[2016-09-23 15:04] AnthonyMDev commented on #20
Yeah something weird happened. It may be malware or a bug in a legitimate 3rd party service I use. Looking into it.

[2016-09-23 17:22] #32 closed

[2016-09-24 08:06] AnthonyMDev commented on #20
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-24 08:15] AnthonyMDev commented on #8
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-24 08:48] AnthonyMDev commented on #6
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-25 08:12] AnthonyMDev commented on #20
#outlook a {

padding: 0;
}
ReadMsgBody {

width: 100%;
}
ExternalClass {

width: 100%;
}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolation-m

[2016-09-25 08:18] AnthonyMDev commented on #8
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-25 08:50] AnthonyMDev commented on #6
#outlook a {

padding: 0;
}
.ReadMsgBody {

width: 100%;
}
.ExternalClass {

width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-text-size-adjust: 100%;
}
table, td {

mso-table-lspace: 0pt;

mso-table-rspace: 0pt;
}
img {

-ms-interpolatio

[2016-09-29 18:48] AnthonyMDev opened #49 "Add Linux Support"
Linux support should be added so this can be used with Swift web frameworks such as Vapor. This is important since Amazon's SDK is only available for iOS. Currently there is no way to interact with any part of the Amazon Web Service in Swift for linux.

The primary issue here is the reliance on `CommonCrypto`, which requires the use of an `Objective-C` class with a bridging header.

Possible alter

[2016-09-29 18:49] AnthonyMDev opened #50 "Add support for Pre-Signed URLs"
This library should include support for generating Pre-Signed URLs

[2016-09-29 18:51] AnthonyMDev opened #51 "Break out Alamofire dependency into subspec"
The core of this library should not have a dependency on `Alamofire`. Without `Alamofire` you should still be able to serialize a `URLRequest` for Amazon S3.

The `Alamofire` manager should be an optional subspec.

[2016-10-14 15:21] phlippieb opened #52 "Update `download` example in Readme"
The Readme provides the following example for saving objects to file:

[code]

This code doesn't compile in Swift 3. The file manager API is outdated, and it seems that the `download` method does not accept an NSURL as its `to:` parameter. Please update with a working example.

Been using this library for a while and really like it. Migrating to Swift 3 is just a PITA in general. Cheers!

[2016-10-14 20:08] AnthonyMDev commented on #52
Thanks for the kind words and the heads up! I
l'll get to this soon.

[2016-11-16 20:37] saqibomer opened #53 "Issue for Alamofire 4.0.1"
I am getting error "Use of undeclared type Response" when trying to access bucket files. Is it compatible with Alamofire 4.0.1?
Great work btw.

[2016-11-16 20:38] AnthonyMDev commented on #53
Thanks for the heads up. I'll look into this today!

[2016-11-16 20:54] AnthonyMDev commented on #53
@saqibomer To confirm, is this a build error, or is this occuring at runtime? Also, are you trying to use Alamofire `4.0.1` or `4.1.0`. The newest version is `4.1.0` so I just wanted to confirm that wasn't a typo.

[2016-11-16 21:51] saqibomer commented on #53
It is a build error. My environment is: Swift 3, Alamofire 4.0.1, Xcode 8.1.
Error: "Use of undeclared type 'Response'"
`amazonS3Manager.listBucketObjects().responseS3Object { (response: Response < S3BucketObjectList, NSError>) in`

[code]

 [For your reference:](https://github.com/Alamofire/Alamofire/issues/1535)

[2016-11-16 23:56] AnthonyMDev commented on #53
Is there a reason why you haven't updated to `Alamofire 4.1.0`? The library is building just fine for me against that version.

[2016-11-21 19:30] morgz opened #54 "S3BucketObjectList when using a delimiter doesn't extract the files correctly."
`S3BucketObjectList` Currently uses this method to parse the files:
`        parseContents(xml["ListBucketResult"]["Contents"])
`

However, if you use a delimiter your results are here:
`xml["ListBucketResult"]["CommonPrefixes"]`

Therefore, if i've understood it correctly, using a delimiter with the current library doesn't return any results.

[2016-11-21 19:35] morgz commented on #54
In my case it's a folder containing other folders, not files.

It may well be that:
`parseContents(xml["ListBucketResult"]["Contents"])`

Does actually work for files & my use case of listing folders isn't appropriate for this method.

[2016-11-23 18:17] AnthonyMDev commented on #54
Thanks, I can look into this when I get some time, but if you have a fix, I'd appreciate a PR!

[2016-11-24 18:21] saqibomer commented on #53
I have updated to Alamofire 4.1.0. But stil got same error. Removing `Response<S3BucketObjectList, NSError>` fixed issue.

[2016-11-24 18:22] saqibomer commented on #52
Any update on this issue?

[2016-11-24 19:00] AnthonyMDev commented on #53
Okay I'll look Into this more Monday morning!

Sent from my iPhone

[2016-11-28 04:06] bharath555vasu opened #55 "how to track the progress of uploading image or data or file to AS3RM"

[2016-11-28 18:31] AnthonyMDev commented on #55
All requests generated through this library are either `DataRequest` or `UploadRequest` objects from `Alamofire`.

Those requests have functions for `downloadProgress` and `uploadProgress` respectively, which may be used to track progress.

[2016-11-28 18:31] #55 closed

[2016-11-28 18:35] AnthonyMDev commented on #53
@saqibomer Can you confirm the version of this library you are using? Version `1.0.1` and up are using the new `DataResponse` from `Alamofire`.

[2016-11-28 18:41] AnthonyMDev commented on #52
This has been fixed. The `README` will now show the correct way to download files using the latest version of `Alamofire`.

[2016-11-28 18:41] #52 closed

[2016-11-29 06:58] phlippieb commented on #52
@AnthonyMDev Awesome! Thanks!

[2016-11-29 09:11] saqibomer commented on #53
Here are versions which I am using
`- Alamofire (4.1.0)`
`- AmazonS3RequestManager (1.0.4)`

[2016-11-30 00:13] u10int commented on #46
Can this issue be reopened and the library updated to support iOS 8 again for a 1.0.5 release? As of Alamofire 4.1.0, iOS 8 is now supported again: https://github.com/Alamofire/Alamofire/issues?utf8=✓&q=milestone%3A4.1.0

[2016-11-30 00:22] AnthonyMDev commented on #46
Yes that seems doable. I am very ill right now, so I don't know when I'll get to this. But if you need it soon, I would be willing to take a look at a PR and push a new version.

[2016-11-30 00:23] AnthonyMDev commented on #46
@jettf If you're looking for more github contributions this should be a simple one! ;)

[2016-11-30 00:53] u10int commented on #46
Went ahead and setup a PR on the develop branch since it was a simple adjustment: https://github.com/AnthonyMDev/AmazonS3RequestManager/pull/56

[2016-11-30 21:39] AnthonyMDev commented on #46
`1.0.5` has been pushed with iOS `8.0` support!

[2016-11-30 21:39] #46 closed

[2016-11-30 21:39] AnthonyMDev commented on #46
Thanks for your help on this @u10int

[2016-12-02 02:50] AnthonyMDev commented on #6
body {{ margin:0 !important; }}
div[style*="margin: 16px 0"] {{ margin:0 !important; font-size:100% !important; }}
#outlook a {{

padding: 0;
}}
.ReadMsgBody {{

width: 100%;
}}
.ExternalClass {{

width: 100%;
}}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {{

line-height: 100%;
}}
body, table, td, a {{

-webkit-text-size-adjust

[2016-12-05 18:16] AnthonyMDev commented on #53
[code]

In this code you need to change `Response` to `DataResponse`

[2016-12-05 18:16] #53 closed

[2016-12-08 22:11] AnthonyMDev commented on #20
body {{ margin:0 !important; }}
div[style*="margin: 16px 0"] {{ margin:0 !important; font-size:100% !important; }}
#outlook a {{

padding: 0;
}}
ReadMsgBody {{

width: 100%;
}}
ExternalClass {{

width: 100%;
}}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {{

line-height: 100%;
}}
body, table, td, a {{

-webkit-text-size-adjust: 1

[2017-01-04 02:52] AnthonyMDev commented on #8
body {{ margin:0 !important; }}
div[style*="margin: 16px 0"] {{ margin:0 !important; font-size:100% !important; }}
#outlook a {{

padding: 0;
}}
.ReadMsgBody {{

width: 100%;
}}
.ExternalClass {{

width: 100%;
}}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {{

line-height: 100%;
}}
body, table, td, a {{

-webkit-text-size-adjust

[2017-01-05 20:54] mdx67 opened #57 "Example how get image from AWS and convert to UIImage?"

[2017-01-06 19:20] AnthonyMDev commented on #57
Hello.
You can get any file like this:

    amazonS3Manager.get(at: "myFolder/fileName.jpg")

Then you can use the `imageResponseSerializer` from `Alamofire` to serialize the request as an image.

[2017-01-06 19:20] #57 closed

[2017-01-09 22:29] sbhklr opened #58 "Swift 2.3 release"
A Swift 2.3 release would be very much appreciated, since currently the absence of it breaks my whole build chain. My custom pod has a dependency on AmazonS3RequestManager and other frameworks but I cannot use Swift 3 yet because not all of the other frameworks support that yet.

[2017-01-09 22:32] sebromero commented on #58
What about a 1.0.0-swift2-3 release? I don't know if this is a valid version specifier though.

[2017-01-10 10:02] 646b commented on #58
I've tried to use this version `pod 'AmazonS3RequestManager', '= 1.0.0'` but I'm getting compiler errors (see https://www.dropbox.com/s/18nzxovmt71ketk/Screenshot%202017-01-10%2013.01.42.png?dl=0)

[2017-01-10 23:51] sebromero commented on #58
@dkalachov You can do the following:
`pod 'AmazonS3RequestManager', :git => "https://github.com/AnthonyMDev/AmazonS3RequestManager.git", :branch => 'swift-2.3'`
However, this doesn't work for me as I'm creating a custom pod that has AmazonS3RequestManager as a dependency and the linting process fails because I cannot use a custom pod branch for linting.

[2017-01-12 17:53] AnthonyMDev commented on #58
@sbhklr I'll release a pod version for you. No problem.

Didn't realize many people were still using Swift 2.3 at this point.

[2017-01-12 18:00] AnthonyMDev commented on #58
Pod version `1.0.0-swift2-3` has been pushed!

[2017-01-12 18:00] #58 closed

[2017-01-16 06:56] Laeyoung opened #59 "Do amazonS3Manager.upload() function replace '+' character to white space character?"
I tried to upload using amazonS3Manager.upload() like above code.
`amazonS3Manager.upload(from: fileUrl, to: "sample+0.mp4")`
But uploaded file name in s3 was "sample 0.mp4".

Can you fix this issue or give me some advise for me?

[2017-01-16 21:54] AnthonyMDev commented on #59
Hi there @Laeyoung.

According the the [S3 API Documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys):

The "+" character is listed under "Characters That Might Require Special Handling".
I would recommend you try not to use this character in your file names. If you absolutely need to use it, try manually percent escaping the character before passing your pat

[2017-01-16 21:54] #59 closed

[2017-01-17 03:08] Laeyoung commented on #59
Thank you for fast response

[2017-01-17 22:02] AnthonyMDev commented on #58
@sbhklr If you have a public CocoaPod that uses this library as a dependency, I'd love to link to it in the README. Let me know!

[2017-01-17 23:25] sebromero commented on #58
@AnthonyMDev It's a private pod unfortunately. I'll let you know when I use it for a public one.

[2017-01-26 08:16] girishghoda opened #60 "Chunk Upload & Download"
@AnthonyMDev Hi anthony
Amazons3request manager hanlde chunk upload/download?
And yes then how to handle ? Its automatically request to server for check for resume?
Please provide some info how to handle chunk upload/download
Thank you

[2017-02-02 08:45] Laeyoung opened #61 "Add support multipart upload"
Amazon S3 only support upload objects up to 5 GB with a single PUT operation.

http://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html

When app try to upload a object which is more than 5 GB size, this library returns 'success' without actual uploading.

[2017-02-02 18:05] AnthonyMDev commented on #61
@Laeyoung This is absolutely a good feature for the library to have! I don't have any production need for this personally currently, so I can't make it a priority right now, but I will add it to the backlog!

If you would like to implement this and make a PR I'd be happy to discuss design with you can then review a PR.

[2017-02-03 03:18] Laeyoung commented on #61
I will try to implement it and make a PR soon : )!

[2017-06-07 06:54] WesleyBuck opened #62 "Swift 4 support."
SWXMLHash needs to be updated to v4.1.0 to support swift 4

Removed Sequence from XMLIndexer to avoid a conflict with the element property coming in Swift 4

[2017-06-07 07:26] WesleyBuck commented on #62
Pull Request for change #63

[2017-08-23 07:13] DmitriyBagrov92 opened #64 "Xcode 9.0 beta compile error"
I can't compile your library (i used cocoa pods to attach it)
<img width="1440" alt="screen shot 2017-08-23 at 10 13 27" src="https://user-images.githubusercontent.com/21103526/29603158-ba4da3d4-87eb-11e7-8fd6-785ad289a301.png">

[2017-09-11 18:58] AnthonyMDev commented on #64
I will be working on Xcode 9 compatibility sometime this week. I'll make sure this is fixed.

[2017-09-11 18:59] AnthonyMDev commented on #62
PR was previously merged. I'm going to finish Xcode 9 and Swift 4 support this week hopefully. Closing this issue. Thanks for the help.

[2017-09-11 18:59] #62 closed

[2017-09-21 07:41] Laeyoung commented on #64
@DmitriyBagrov92 add this code on Podfile

post_install do |installer|
  installer.pods_project.targets.each do |target|
  if target.name == 'AmazonS3RequestManager'
            target.build_configurations.each do |config|
                config.build_settings['SWIFT_VERSION'] = '3.2'
            end
        end
    end
end

[2017-11-03 09:12] WesleyBuck commented on #64
Solution #66

[2017-11-19 03:34] AnthonyMDev commented on #6
body { margin:0 !important; }
div[style*="margin: 16px 0"] { margin:0 !important; font-size:100% !important; }
#outlook a {

padding: 0;
}
ReadMsgBody {

width: 100%;
}
ExternalClass {

width: 100%;
}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-tex

[2017-11-19 03:34] AnthonyMDev commented on #20
body { margin:0 !important; }
div[style*="margin: 16px 0"] { margin:0 !important; font-size:100% !important; }
#outlook a {

padding: 0;
}
ReadMsgBody {

width: 100%;
}
ExternalClass {

width: 100%;
}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-tex

[2017-11-19 03:34] AnthonyMDev commented on #8
body { margin:0 !important; }
div[style*="margin: 16px 0"] { margin:0 !important; font-size:100% !important; }
#outlook a {

padding: 0;
}
ReadMsgBody {

width: 100%;
}
ExternalClass {

width: 100%;
}
ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {

line-height: 100%;
}
body, table, td, a {

-webkit-text-size-adjust: 100%;

-ms-tex

[2017-11-20 12:26] NawazAli opened #68 "Does not show any error on passing the wrong credentials"
I have been trying it, but it does not even show any messages about the wrong credentials etc. Return an empty result.

[2018-01-05 23:13] AnthonyMDev commented on #68
Can you post an example of the code you are using currently please?

[2018-02-21 13:02] MattTimmons commented on #61
Hi @Laeyoung !
Have you had any luck on the PR? for multipart ?
- Matt

[2018-10-04 19:11] apfelstrudelweb opened #69 "Can't compile several code snippets from Readme"
I've installed AmazonS3RequestManager version 1.2.0 and I'm working with XCode 10.0 and with Swift 4.

Working with the code snippets shown in the Readme file of your POD, I get a lot of compile rrors - see screenshot:
http://www.freiwasser.blog/spielwiese/AmazonS3RequestManager.png

[2018-12-04 19:27] vccabral commented on #61
@AnthonyMDev I would love to have a multipart upload. I am currently getting sporadic 1005 errors while using this library (lost connection errors).

[2018-12-05 10:30] AnthonyMDev commented on #61
I would love to see this feature as well. I unfortunately don't have the
time and means to implement this currently. I am hoping I will be able to
get to this some time in the near(ish) future... If someone would like to
make a PR, I am happy to pull it in though!